<div class="mwidget" data-mwidget>
  <!-- Collapsed bar -->
  <header class="mwidget-bar" data-mwidget-bar>
    <div class="mwidget-bar-left">
      <div class="mwidget-avatars" data-mwidget-avatars></div>
      <span class="mwidget-title">Messaging</span>
      <span class="mwidget-badge hidden" data-mwidget-badge></span>
    </div>
    <div class="mwidget-bar-actions">
      <button class="mwidget-icon-btn" data-mwidget-expand title="Expand" type="button">
        <span class="material-symbols-outlined" data-mwidget-chevron>expand_less</span>
      </button>
      <button class="mwidget-icon-btn" data-mwidget-goto title="Open full page" type="button">
        <span class="material-symbols-outlined">open_in_new</span>
      </button>
    </div>
  </header>

  <!-- Expanded panel -->
  <div class="mwidget-panel hidden" data-mwidget-panel>
    <div class="mwidget-panel-header">
      <span>Recent</span>
      <a href="/pages/messages.html" class="mwidget-see-all">See all</a>
    </div>
    <div class="mwidget-conv-list" data-mwidget-list>
      <div class="mwidget-loading"><div class="spinner"></div></div>
    </div>
  </div>
</div>